@import "tailwindcss";
@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Apply Tajawal specifically for Arabic characters using unicode-range */
@font-face {
  font-family: "AppFont";
  src: url("/fonts/Tajawal-Regular.ttf") format("truetype");
  unicode-range: U+0600-06FF; /* Arabic unicode block */
  font-weight: 400;
}

@font-face {
  font-family: "AppFont";
  src: url("/fonts/Tajawal-Bold.ttf") format("truetype");
  unicode-range: U+0600-06FF;
  font-weight: 700;
}
body {
  font-family: "Tajawal", Arial, Helvetica, sans-serif;
}
.loader {
  width: 60px;
  aspect-ratio: 0.5;
  display: grid;
}
.loader:before {
  content: "";
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto auto 0;
  background: #1976d2;
  animation: l9-0 0.5s cubic-bezier(0, 800, 1, 800) infinite;
}
.loader:after {
  content: "";
  width: 100%;
  aspect-ratio: 1 / cos(30deg);
  margin: 0 auto auto;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #524656;
  animation: l9-1 0.5s linear infinite;
}
@keyframes l9-0 {
  0%,
  2% {
    translate: 0 0%;
  }
  98%,
  to {
    translate: 0 -0.2%;
  }
}
@keyframes l9-1 {
  0%,
  5% {
    rotate: 0deg;
  }
  95%,
  to {
    rotate: -60deg;
  }
}
